name: Deploy Flutter Web to GitHub Pages Repo

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout source repo
      - name: Checkout source repo
        uses: actions/checkout@v4

      # Install Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      # Build Flutter web
      - name: Build Flutter Web
        run: flutter build web --release

      # Upload artifact
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-release
          path: build/web

      # Download artifact (forces clean working-directory)
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: web-release
          path: web-release

      # Debug (optional)
      # - name: Debug
      #   run: ls -R .

      # Push files to another repository
      - name: Push to portfolio repo
        uses: cpina/github-action-push-to-another-repository@v1.7.3
        env:
          API_TOKEN_GITHUB: ${{ secrets.TARGET_REPO_TOKEN }}
        with:
          source-directory: web-release
          destination-github-username: ervindobri
          destination-repository-name: ervindobri.github.io
          user-email: ervindobri@gmail.com
          target-branch: gh-pages
          target-directory: portfolio/web
          commit-message: "Auto-update Flutter web build"
